#Normal commands as in Shrubbot, but 2 different for different lvls!
 0 - testme 			= chat "<ADMINLEVEL>"
 0 - afk 			= chat "^7<COLOR_PLAYER>^3 is now AFK"; !put <CLIENT_ID> s
 14 - afk 			= chat "^7<PART2CNAME>^3 is now AFK"; !put <PART2ID> s
# jep, shellcommands work
 19 - shell                 = $SHL$ /usr/local/bin/shell.pl 
# also adding executing luacode is easy
 15 - entit = $LUA$ local ent = "test"; et.gentity_set ( <PART2ID>, "s.eFlags", 580 ) ; et.trap_SendConsoleCommand(et.EXEC_APPEND, "chat ".. ent .. " <- was it\n") 
# just a normal rcon command
 15 - kick = pb_sv_kick <PART2PBID> "^1Testkick"
